.App {
  display: flex;
  flex-direction: column;
}

.row {
  text-align: center;
}

input {
  margin: 1em 0;
  padding: 0.3em;
  font-size: 2em;
}

.link {
  color: #61dafb;
  text-decoration: underline;
  cursor: pointer;
}

.link-disabled {
  color: #61dafb;
  text-decoration: underline;
}
