.App {
  display: flex;
  flex-direction: column;
}

.row {
  text-align: center;
}

input {
  margin: 1em 0;
  padding: 0.3em;
  width: 60%;
  max-width: 100%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  border-style: solid;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
}

.link {
  color: #61dafb;
  text-decoration: underline;
  cursor: pointer;
}

.link-disabled {
  color: #61dafb;
  text-decoration: underline;
}

.brand{
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
}

input:focus {
  outline: #56efff auto 5px;
}

.hr-line{
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin: 30px 0px;
}

.result-block{
  padding: 40px 20px;
  background: rgba(0, 0, 0, 0.5);
  width: 60%;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
}

.result-heading{
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.result{
  font-size: 2.5em;
  font-weight: 300;
}